/* Variables */
$primaryClr: #6c63ff;
$successClr: #00bf8e;
$warningClr: #f7c94b;
$dangerClr: #f75842;
$dangerVariantClr: rgba(247, 88, 66, 0.4);
$whiteClr: #fff;
$lightClr: rgba(255, 255, 255, 0.7);
$blackClr: #000;
$bgClr: #1f2641;
$bg1Clr: #2e3267;
$bg2Clr: #424890;

$longWidth: 80%;
$middleWidth: 90%;
$smallWidth: 94%;

$transition: all 400ms ease-in-out;